/* Eigene CSS-Datei für Anpassungen */

.card-text {
    width: 100%;
}

/*Titel der Card zentrieren*/
#cardTitleLogin {
    text-align: center;
}

/*Müssen ganze Höhe ausfüllen für das Hintergrundbild
Quelle: https://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height*/
html, body {
    height: 100%;
}

/*Hintergrundbild*/
.backgroundWatch {
    background-image: url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.fullBg {
    position: absolute;
    height: 100%;
    width: 100%;
}

.transparentLayer {
    background-color: #3E3D40;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dark {
    background-color: black;
}

.loginInputs {
    width: 50%;
    left: 25%;
}

.logout {
    position: absolute;
    top: 0;
    right: 4px;
}

/*Login Formular und Übersicht zentrieren
Quelle: https://css-tricks.com/centering-css-complete-guide/ */
.centerMid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.whiteFont, #weiss {
    color: white;
    text-transform: none;
}

/* IWC-Logo*/
.logo-wrapper img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    height: 50px;
}
/* IWC-Logo Ende*/